<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.quangnv.msb">
    <Properties>
        <Property name="baseDir">${sys:jboss.home.dir:-.}/MA/logs</Property>
        <Property name="LOG_PATTERN">%n %d %p %-18.18M - [%X{TK}][%X{ETK}][%X{RT}][%X{LOGIN}] [%c] %msk</Property>
        <Property name="FILE_SIZE">10 MB</Property>
    </Properties>

    <Appenders>
        <!-- console log -->
        <Console name="C" target="SYSTEM_OUT">
            <MaskingLayout>
                <PatternLayout pattern="${LOG_PATTERN}"/>
                <Maskers>
                    <CardNumberMasker startKeep="6" endKeep="4" luhnCheck="true"/>
                    <PasswordMasker keywords="pass|password"/>
                </Maskers>
            </MaskingLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate" level="warn"/>
        <Logger name="com.zaxxer.hikari" level="error"/>
        <Logger name="com.quangnv.msb" level="INFO" additivity="false">
            <AppenderRef ref="C" level="info"/>
        </Logger>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="C"/>
        </Root>
    </Loggers>
</Configuration>